
@{
    Layout = null;
    //if (Session["Id"]==null)
    //{
    //    Response.Redirect("~/login/Index");
    //}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        <h1> Dashboard</h1>
        @*<h3>Name : @Session["Name"].ToString() </h3>
        <a href="@Url.Action("Logout","Login")">Logout</a>*@
    </div>
</body>
</html>
